<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>#}
{#    <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>#}
    <link rel="stylesheet" href="{{ build_static_url('/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ build_static_url('/css/layui.css') }}"/>
    {% block css %}
    	
    {% endblock %}
</head>
<body>
{#    顶部导航栏#}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ build_url('/index') }}">猫眼</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-dark" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">影视</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user %}
            	<li class="nav-item active">
                    <a class="nav-link" href="{{ build_url('/account/reg') }}">{{ current_user.nickname }}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ build_url('/account/logout') }}">退出登录</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ build_url('/account/reg') }}">注册</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ build_url('/account/login') }}">登录</a>
                </li>
            {% endif %}

        </ul>

    </div>
</nav>

{#    内容区#}
<div class="container">
    {% block content %}

    {% endblock %}
</div>
</body>
<script src="{{ build_static_url('/js/jquery-3.7.1.js') }}"></script>
<script src="{{ build_static_url('/js/bootstrap.min.js') }}"></script>
<script src="{{ build_static_url('/js/layui.js') }}"></script>
<script src="{{ build_static_url('/js/common.js') }}"></script>
{% block js %}
	
{% endblock %}
</html>